.col-sm-12.col-md-12.mt20
  h3 #{current_user.name}, ваши задания:

  .col-sm-12.col-md-12
    .panel.panel-success
      .panel-heading Выполненные (#{current_user.quiz_participations.completed.count})
      .panel-body
        ul.list-unstyled
          - current_user.quiz_participations.completed.each do |q|
            li
              = q.quiz.title
              = link_to "результат", quiz_path(q), class: "btn btn-xs btn-default ml20"

    .panel.panel-info
      .panel-heading Новые назначенные (#{current_user.quiz_participations.pending.count})
      .panel-body
        ul.list-unstyled
          - current_user.quiz_participations.pending.each do |q|
            li
              = q.quiz.title
              = link_to "начать тест", start_quiz_path(q), method: :put, class: "btn btn-xs btn-default ml20"

    .panel.panel-warning
      .panel-heading В процессе (#{current_user.quiz_participations.in_process.count})
      .panel-body
        ul.list-unstyled
          - current_user.quiz_participations.in_process.each do |q|
            li
              = q.quiz.title
              = link_to "продолжить тест", edit_quiz_path(q), class: "btn btn-xs btn-default ml20"
              span.ml10.gray вы начали проходить #{I18n.l q.started_at, format: :short}


.col-sm-12.col-md-12.mt20
  hr

  h3 Вы состоите в группах:
  ul.list-unstyled
    - current_user.user_groups.each do |group|
      li= group.title
