= panel class: 'col-sm-6 col-sm-offset-3 p0 mt200', title: 'Quizzz! ВХОД' do

  = form_tag session_url, class: 'form-horizontal mt30 col-sm-10 col-sm-offset-1', method: :post do
    .form-group
      = label_tag :email, "Email", class: "col-sm-2 control-label"
      .col-sm-10
        = email_field_tag :email, nil, class: 'form-control input-lg ha', required: true
    .form-group
      = label_tag :password, "Пароль", class: "col-sm-2 control-label"
      .col-sm-10
        = password_field_tag :password, nil, required: true, class: 'form-control input-lg', autocomplete: "off"

    .modal-footer
      button.btn.btn-primary type="submit"  Войти
