.col-sm-12.col-md-12
  .panel.panel-success
    .panel-heading Задание
    .panel-body
      h4= @quiz.title
      pre= @quiz.description

      h5 Назначить группам:
      = form_for(@resource, url: admin_quiz_assign_path, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do
        ul.list-unstyled
          - @groups.each_with_index do |g, idx|
            li
              = check_box_tag "group[#{idx}]", g.id
              label.ml10(for="group_#{idx}")= g.title
          = submit_tag "Сохранить", class: "btn btn-info mt20"
