.col-sm-12.col-md-12
  .panel.panel-success
    .panel-heading
      h5 Редактирование задания
    .panel-body
      = bootstrap_form_for(@resource, url: admin_quiz_path, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f|
        = f.text_field :title, label: 'Название'
        = f.text_area :description, label: 'Описание', rows: 5

        .form-group
          label.col-sm-3.control-label Вопросы задания:
          .col-sm-9
            - @resource.questions.each do |q|
              .panel
                .panel-body
                  strong= q.body
                  ul.list-unstyled
                    - q.responses.each do |r|
                      li
                        - if r.correct?
                          - if q.is_a?(QuestionMultiplyCorrect)
                            input type="checkbox" checked="checked"
                          - else
                            input type="radio" checked="checked"
                        - else
                          - if q.is_a?(QuestionMultiplyCorrect)
                            input type="checkbox"
                          - else
                            input type="radio"

                        span.ml10
                          = r.body



        = f.submit "сохранить", disabled: 'disabled'
        = link_to "отмена", admin_dashboard_path, class: 'btn btn-default col-sm-offset-3'
