.col-sm-12.col-md-12
  .panel.panel-success
    .panel-heading
      h5 Прохождение тестового задания #{resource.quiz.title}
    .panel-body
      .col-sm-3
        label.control-label Вопросы задания:
      .col-sm-9
        p Вы должны ответить на все представленные вопросы
        = form_for resource, url: quiz_path(resource) do |f|
          - resource.quiz.questions.each do |q|
            .panel
              .panel-body
                strong= q.body
                ul.list-unstyled
                  - q.responses.each_with_index do |r, idx|
                    li
                      - if q.is_a?(QuestionMultiplyCorrect)
                        = check_box_tag "response[#{q.id}][#{idx}]", r.id, false
                        label.ml10 for="response_#{q.id}_#{idx}"
                          = r.body
                      - else
                        = radio_button_tag "response[#{q.id}][]", r.id, false
                        label.ml10 for="response_#{q.id}__#{r.id}"
                          = r.body

          = f.submit "отправить", class: "btn btn-success"
