.col-sm-12.col-md-12
  .panel.panel-success
    .panel-heading
      h5 Результаты прохождение тестового задания #{resource.quiz.title}
    .panel-body
      | Задание:
      pre= resource.quiz.description

      |  Вы проходили с #{I18n.l resource.started_at, format: :short} по #{I18n.l resource.finish_at, format: :short}
      h4 Ваша оценка: #{resource.score}
